<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--反向工程配置文档-->
<generatorConfiguration>

    <!--指定连接数据库的JDBC驱动包所在位置,指定到你本机的完整路径-->
    <classPathEntry
            location="D:/Users/liuya/repository/mysql/mysql-connector-java/5.1.46/mysql-connector-java-5.1.46.jar"/>

    <!--配置tables表内容体,targetRuntime指定采用MyBatis3的版本-->
    <context id="tables" targetRuntime="MyBatis3">

        <!--抑制生成注释,由于生成的注释都是英文,可以不让它生成-->
        <commentGenerator>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!--配置数据库连接信息-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/p2p"
                        userId="root"
                        password="123456">

        </jdbcConnection>

        <!--生成model类,targetPackage指定model类的包名,targetProject指定生成的model放在编译器的哪个工程下面-->
        <javaModelGenerator targetPackage="com.springboot.transaction.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>

        <!--生成Mybatis的Mapper.xml文件,targetPackage指定Mapper.xml文件的包名,targetProject指定生成的Mapper.xml文件放在编译器的哪个工程下面-->
        <sqlMapGenerator targetPackage="com.springboot.transaction.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!--生成Mybatis的Mapper接口类文件,targetPackage指定Mapper接口类文件的包名,targetProject指定生成的Mapper接口类文件放在编译器的哪个工程下面-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.springboot.transaction.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!--数据库表名及对应的java模型类名，如果多个表，就配置下边多个，只是表名切换了而已-->
        <table tableName="student"
               domainObjectName="Student"
               enableCountByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"
               selectByExampleQueryId="false"

        />
    </context>
</generatorConfiguration>